 .break { 
  page-break-before:always;
}

.tiny {
  font-size: 0.7em;  
}

div.titlediv h1 {
  font-size: 1.4em;
  margin-bottom: 4%;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.1em;
  margin-bottom: 2%;
  margin-top: 2%;
}

hr {
  margin-top: 0;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

